/* You can add global styles to this file, and also import other style files */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    background: linear-gradient(135deg, #f9fafb, #e5e7eb, #f3f4f6);
    margin: 0;
    padding: 0;
}


/* Buttons */

.btn-primary {
    background: #2563eb;
    color: white;
    padding: 12px 20px;
    border-radius: 8px;
    border: none;
    font-weight: 600;
    cursor: pointer;
    transition: 0.2s;
}

.btn-primary:hover {
    background: #1d4ed8;
}

.btn-secondary {
    background: #16a34a;
    color: white;
    padding: 10px 16px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}


/* Card UI */

.card {
    background: #111827;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
}


/* Input Fields */

input,
textarea {
    width: 100%;
    padding: 10px;
    background: #020617;
    border: 1px solid #334155;
    border-radius: 6px;
    color: white;
    outline: none;
}

input:focus,
textarea:focus {
    border-color: #2563eb;
}